* {
  padding: 0;
  margin: 0;
}

.form {
  position: relative;
  top: 50px;
  left: 50px;
}

.file-upload-container {
  position: relative;
}

.file-upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.file-upload-button:hover {
  background-color: #0056b3;
}

input[type="file"] {
  display: none;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: #0056b3;
}
